@model web_mvc.Models.Figurine

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Figurine</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Image
        </dt>
        <dd>
            <img src="~/uploads/@Html.DisplayFor(model => model.image)" alt="my img" width="300" />
        </dd>
        <dt>
            Nom
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt>
            Prix
        </dt>
        <dd>
            @Html.DisplayFor(model => model.prix_ttc)
        </dd>
        <dt>
            Quantité (magasin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.quantite_magasin)
        </dd>
        <dt>
            Quantité (stock)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.quantite_stock)
        </dd>
        <dt>
            Date de parution
        </dt>
        <dd>
            @Html.DisplayFor(model => model.date_parution)
        </dd>
        <dt>
            Nombre d'exemplaires
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nb_exemplaires)
        </dd>
        <dt>
            Poids
        </dt>
        <dd>
            @Html.DisplayFor(model => model.poids)
        </dd>
        <dt>
            Largeur
        </dt>
        <dd>
            @Html.DisplayFor(model => model.largeur)
        </dd>
        <dt>
            Hauteur
        </dt>
        <dd>
            @Html.DisplayFor(model => model.hauteur)
        </dd>
        <dt>
            Longueur
        </dt>
        <dd>
            @Html.DisplayFor(model => model.longueur)
        </dd>
        <dt>
            Référence
        </dt>
        <dd>
            @Html.DisplayFor(model => model.reference)
        </dd>
        <dt>
            Description
        </dt>
        <dd>
            @Html.DisplayNameFor(model => model.description)
        </dd>
        <dt>
            Marque
        </dt>
        <dd>
            @Html.Raw(ViewBag.Marque)
        </dd>
        <dt>
            Catégorie
        </dt>
        <dd>
            @Html.Raw(ViewBag.Categorie)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
