@model IEnumerable<web_mvc.Models.Figurine>

@{
    ViewData["Title"] = "Index";
}

<h2>All figurines</h2>

@if (!User.IsInRole("Customer") && User.Identity.IsAuthenticated)
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

@if (User.IsInRole("Customer") || !User.Identity.IsAuthenticated)
{
    <div class="page-header">
        <h1><small>Research</small></h1>
    </div>

    <form asp-action="Index" method="get">
        <div class="form-actions">
            <p>
                <div class="col-sm-3">
                    <label class="control-label">
                        Name :
                    </label>
                    <input type="text" class="form-control" name="SearchString" value="@ViewData["currentFilter"]" />
                </div>
                <div class="col-sm-3">
                    <label class="control-label">
                        Brand :
                    </label>
                    <select class="form-control" name="SearchMarque" asp-items="ViewBag.MarqueId" value="@ViewData["currentFilterMarque"]">
                        <option>Select One</option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <label class="control-label">
                        Category :
                    </label>
                    <select class="form-control" name="SearchCategorie" asp-items="ViewBag.CategorieId" value="@ViewData["currentFilterCategorie"]">
                        <option>Select One</option>
                    </select>
                </div>
                <div class="col-sm-2">
                    <br />
                    <input type="submit" value="Search" class="btn btn-default" />
                    <a asp-action="Index">Back to List</a>
                </div>
                <div class="col-sm-12" style="height:20px"></div>
            </p>
        </div>
    </form>
}

<div class="page-header">
    <h1><small>Figurine's list</small></h1>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Price
            </th>
            <th>
                Quantity (shop)
            </th>
            <th>
                Quantity (stock)
            </th>
            <th>
                Release Date
            </th>
            <th>
                Weight
            </th>
            <th>
                Width
            </th>
            <th>
                Height
            </th>
            <th>
                Length
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.prix_ttc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.quantite_magasin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.quantite_stock)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.date_parution)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.poids) kg
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.largeur) m
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.hauteur) m
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.longueur) m
                </td>
                <td>
                    @if (User.IsInRole("Admin") || User.IsInRole("Employee"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    }
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>

                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    @if (User.IsInRole("Customer"))
    {
        <a asp-action="Create" asp-controller="Reservations">Book a figurine</a>
    }
</p>
