@model IEnumerable<web_mvc.Models.Reservation>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.quantite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.date_expiration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.montant)
            </th>
            <th>
                Figurine
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.quantite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date_expiration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.montant)$
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.figurine.Nom)
            </td>
            <td>
                @if (User.IsInRole("Admin") || User.IsInRole("Employee"))
                {
                    <a asp-action="Edit" asp-route-id="@item.Id">Purchase</a>
                }
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>

                @if (User.IsInRole("Customer") || User.IsInRole("Admin"))
                {
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
